
.formation__wrapper {
    display: flex;
    flex-wrap: wrap;

}

@media screen and (min-width: 1000px){
    .formation__wrapper {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .formation__wrapper div {
        margin: 10px;
    }

    .formation__wrapper div:hover {
        cursor: pointer;
    }

    
}