@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,500&family=Roboto:wght@400;500&display=swap');
:root {
  --title-font: 'Playfair Display', serif;
  --background-color: #F3EAD3;
  --tag-color: #41383A;
  --button-color: #E29578;
  --white: #fff;
  --black: #000;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--black);
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.bold-title {
  font-family: var(--title-font);
  font-weight: 600;
  padding-bottom: 1rem;
}

.medium-title {
  font-family: var(--title-font);
  font-weight: 500;
}

.medium-italic-title {
  font-family: var(--title-font);
  font-weight: medium;
  font-style: italic;
}

@media screen and (min-width: 320px) {
  body {
    font-size: 14px;
  }

  .quoting {
    display: flex;
    flex-direction: column;
  }

  .bold-title{
    padding-top: 1rem;
  }

  .formation-article-img {
    max-height: 180px;
  }

  .app__navbar-links {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .formation-article-container p {
    max-width: 370px;
  }

}

@media screen and (min-width: 700px) {
  body {
    font-size: 16px;
  }
  .quoting {
    display: flex;
    flex-direction: row;
  }

  .bold-title {
    padding-top: 0;
  }

  .apropos-flex {
    display: flex;
  }

  .formation-article-img {
    max-height: 220px;
  }


  

}

@media screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }
  .dropdown {
    display: none;
  }

  

}

@media screen and (min-width: 1200px) {
  .article-bordel {
    max-width: 625px;
  }

  .formation-article-container p {
    max-width: 800px;
  }
}

/*
  Navbar styling below
*/

.app__navbar {
  padding: 1rem;
}


.app__navbar button {
  background: none;
  padding: 0.6rem 1.5rem;
  border: 2px solid #E29578;
  border-radius: 18px;
  color: #E29578;
  font-weight: 600;
  transition: 0.5s;
}

.app__navbar button:hover {
  background-color: var(--button-color);
  color: #fff;
}


.dropbtn {
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  width: 100vw;
  background: var(--background-color);
  z-index: 100;
  list-style: none;
  padding: 25px;
}

.dropdown-content li {
  padding-bottom: 35px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.dropdown-content li::after {
  position: absolute;
  left: 0;
  bottom: 22px;
  margin: auto;
  width: 0%;
  content: '';
  background: rgba(22, 22, 22, 0.5);
  height: 2px;
  transition: 0.3s;
}

.dropdown-content li:hover::after {
  width: 8%;
}
.dropdown:hover > .small-navlinks > .dropdown-content {
  display: block;
  
}

.app__navbar-links ul li {
  position: relative;
}
.app__navbar-links ul li::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  margin: auto;
  width: 0%;
  content: '';
  background: rgba(22, 22, 22, 0.5);
  height: 2px;
  transition: 0.3s;
}

.app__navbar-links ul li:hover::after {
  width: 100%;
}



@media screen and (min-width: 915px) {
  body {
    font-size: 16px;
  }

  

  .app__navbar ul {
    display: flex;
    list-style: none;
    padding-top: 1rem;
  }

  .app__navbar li {
    display: flex;
    margin-right: 4rem;
  }

  .app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app__navbar button {
    background: none;
    padding: 0.6rem 1.5rem;
    border: 2px solid var(--button-color);
    border-radius: 18px;
    color: var(--button-color);
    font-weight: 600;
    margin-top: 1rem;
    transition: 0.5s;
  }

  .app__navbar button:hover {
    background-color: var(--button-color);
    color: #fff;
  }
}

@media screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }
}
.app__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__navbar button:hover {
  cursor: pointer;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3rem;
  }

.app__navbar-logo:hover,
.app__navbar-links:hover {
  cursor: pointer;
}



/* 
FORMATION
*/



.parcours {
  padding: 15px;
  line-height: 24px;
  width: 80%;
  margin: auto;
}

.parcours p {
  margin-top: 25px;
  opacity: 80%;
}

.parcours h1 {
  font-family: var(--title-font);
  font-weight: 500;
  margin-top: 10px;
  line-height: 32px;
}

.parcours-mainImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vw;
  margin-top: 25px;
  border-radius: 12px;
}

.parcours-quote-img {
  max-height: 350px;
  margin-top: 45px;
}

.quoting {
  display: flex;
  align-items: center;
}

.quote {
  font-style: italic;
  line-height: 26px;
  width: 100%;
}


.quote-text-block hr {
  transform:rotate(90deg);
  width: 100px;
  height: 5px;
  border: none;
  background-color: rgb(102, 97, 97);
}

.quote-text-block {
  display: flex;
  align-items: center;
}



/*formation slug style here*/

.article-wrapper > .article-container > p {
  margin-top: 25px;
  opacity: 80%;
}

.article-container h1, 
.article-container h2,
.article-container h3 {
  font-family: var(--title-font);
  margin-top: 3rem;
}


/*

POPUP STYLING HERE

*/

.popup {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.popup-wrapper {
  position: fixed;
  background-color: #f3e4c2;
  width: 70%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.popup-wrapper form {
  max-width: 380px;
  margin: auto;
  padding: 35px;

}

.popup-wrapper form input {
  margin-top: 10px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid rgba(22, 22, 22, 0.3);
  width: 100%;
}

.popup-wrapper form input::placeholder {
  font-family: 'Roboto', sans-serif;
}

.popup-wrapper form p {
  padding-bottom: 5px;
  opacity: 70%;
}

.popup-wrapper form button {
  background-color: #e9845f;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 500;
  padding: 12px;
  margin-top: 15px;
  border-radius: 12px;
  width: 150px;
  cursor: pointer;
  transition: 0.3s;
}

.popup-wrapper form button:hover {
  background-color: var(--button-color);
}

.close-tag {
  width: 25px;
  margin: 12px 12px 0 auto;
}

.close-tag:hover {
  cursor: pointer;
}