@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,500&family=Roboto:wght@400;500&display=swap');
:root {
  --title-font: 'Playfair Display', serif;
  --background-color: #F3EAD3;
  --tag-color: #41383A;
  --button-color: #E29578;
  --white: #fff;
  --black: #000;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.bold-title {
  font-family: var(--title-font);
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.medium-title {
  font-family: var(--title-font);
  font-weight: 500;
}

.medium-italic-title {
  font-family: var(--title-font);
  font-weight: medium;
  font-style: italic;
}

@media screen and (min-width: 320px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }
}

/*
  Navbar styling below
*/

.app__navbar {
  padding: 1rem;
}



.app__navbar button {
  background: none;
  padding: 0.6rem;
  border: 2px solid var(--button-color);
  border-radius: 18px;
  color: var(--button-color);
  font-weight: 600;
}

.menu__hamburger:hover {
  cursor: pointer;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--background-color);
  transition: .5s ease;
  z-index: 5;
  text-align: center;

  flex-direction: column;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}


.app__navbar-smallscreen_links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
}

.app__navbar-smallscreen_links li {
  cursor: pointer;
  text-align: center;
  margin-top: 2rem;

  font-family: var(--title-font);
}


.app__navbar-links {
  display: none;
}

@media screen and (min-width: 915px) {
  body {
    font-size: 16px;
  }

  .app__navbar-smallscreen {
    display: none;
  }

  .app__navbar-links {
    display: block;
  }

  .app__navbar ul {
    display: flex;
    list-style: none;
    padding-top: 1rem;
  }

  .app__navbar li {
    display: flex;
    margin-right: 4rem;
  }

  .app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app__navbar button {
    background: none;
    padding: 0.6rem;
    border: 2px solid var(--button-color);
    border-radius: 18px;
    color: var(--button-color);
    font-weight: bold;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }
}
.app__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__navbar button:hover {
  cursor: pointer;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3rem;
  }

.app__navbar-logo:hover,
.app__navbar-links:hover {
  cursor: pointer;
}



/* 
FORMATION
*/

@media screen and (min-width: 700px) {
  .formation-article-img img {
    width: 400px;
  }
}

