.accueil__img img {
    height: 50vh;
    margin-left: 20vw;
}

.accueil__container {
    padding: 1rem;
    margin-top: 2rem;
}

.accueil__container button {
    background: var(--button-color);
    padding: 1rem;
    width: 175px;
    border: none;
    border-radius: 18px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 1.5rem;
}

@media screen and (min-width: 700px) {
    .accueil__wrap {
        display: flex;
    }

    .accueil__img img {
        height: 60vh;
        margin: 40vh 2rem 0 0;
    }
}

@media screen and (min-width: 900px) {
    .accueil__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .accueil__container button:hover {
        background-color: #f59978;
    }

    .accueil__img img {
        max-height: 70vh;
        width: 40vw;
        margin-top: 30%;

    }

    .accueil__container {
        max-width: 500px;
    }
}