.accueil h1, .accueil h2, .accueil h3, .accueil h4 {
    font-family: var(--title-font);
}

.accueil p {
    opacity: 80%;
}


.accueil * {
    margin: 0;
}



.accueil__container {
    padding: 1rem;
    margin-top: 2rem;
}

.accueil__container button {
    background: var(--button-color);
    padding: 1rem;
    width: 175px;
    border: none;
    border-radius: 18px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 1.5rem;
}

@media screen and (min-width: 320px) {
    .accueil__img img {
        height: 275px;
    }
}

@media screen and (min-width: 375px) {
    .accueil__img img {
        height: 275px;
        margin-left: 25%;
    }
}

@media screen and (min-width: 700px) {
    .accueil__wrap {
        display: flex;
    }

    .accueil__img img {
        height: 60vh;
        margin: 40vh 2rem 0 0;
    }

    .section_calltoaction p {
        width: 80%;
        margin: auto;
    }
    
    .section_general p {
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 900px) {
    .accueil__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .accueil__container button:hover {
        background-color: #f59978;
    }

    .accueil__img img {
        max-height: 70vh;
        width: 40vw;
        margin-top: 30%;

    }

    .accueil__container {
        max-width: 500px;
    }
}

.section_calltoaction {
    background-color: #F0D9C1;
    text-align: center;
    padding: 50px 25px;
    
}

.section_calltoaction p {
    margin-top: 25px;
}

.section_calltoaction button {
    background: var(--button-color);
    padding: 1rem;
    border: none;
    border-radius: 18px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 1.5rem;
}

.section_general {
    text-align: center;
    padding: 50px 25px;
}

.section_general p {
    margin-top: 25px;
}